{% extends 'index.html'%}

<!-- 3 table：指定某个 student，管理 class 的页面 -->



<!-- vue template 代码块 -->
{% block vue_template %}
<jh-layout>
    <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
        <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 "
            :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
            <v-col cols="12" class="pa-xs-0 pb-xs-4 pb-0">
                <h2>
                    【{{ title }}】的班级管理
                    <span style="font-size: 1rem;" :class="{'d-block': isMobile}">(ID: {{ studentId }})</span>
                </h2>
            </v-col>
        </v-row>
        <v-divider></v-divider>
        <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 "
            :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
            <v-col cols="12" xs="4" sm="4" md="4" xl="4" class="pl-0 ">
                <v-btn dark color="success" @click="isEditDrawerShow = true" class="elevation-0 mr-2">分配新班级</v-btn>
                <span class="body-2">共{{ tableData.length }}条记录</span>
            </v-col>
            <v-spacer></v-spacer>
            <v-col cols="12" xs="8" sm="4" md="3" xl="3" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
                <v-text-field dense outlined v-model="searchInput" label="表格过滤" class="cus-v-input"></v-text-field>
            </v-col>
        </v-row>
        <v-data-table fixed-header :headers="headers" :items="tableData" :search="searchInput"
            :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20" :dense="isMobile"
            :loading="isTableLoading" checkbox-color="success" mobile-breakpoint="0"
            class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">

            <template v-slot:item.operationAt="{ item }">
                {{ item.operationAt && dayjs(item.operationAt).format('YYYY-MM-DD HH:mm:ss') }}
            </template>
            <template v-slot:item.action="{ item }">
                <v-btn :small="!isMobile" :xSmall="isMobile" :class="btn.color" v-for="btn of tableButtonList"
                    @click="deleteItem(item)" :key="btn.value">
                    {{ btn.text }}
                </v-btn>
            </template>
        </v-data-table>
        <v-navigation-drawer v-model="isEditDrawerShow" :permanent="isEditDrawerPermanent" absolute temporary right
            touchless width="80%" hide-overlay class="elevation-24">
            <v-container class="navDrawerContainer">
                <v-row class=" pa-2">
                    <v-btn class="mt-0" dark color="success" elevation="0" @click="addSelected">新增</v-btn>
                    <v-spacer></v-spacer>
                    <v-btn class="mr-4 mt-1 elevation-0" fab x-small @click="isEditDrawerShow = false">
                        <v-icon dark>mdi-close</v-icon>
                    </v-btn>
                </v-row>
                <v-row class="pa-2 py-0">
                    <v-data-table fixed-header show-select checkbox-color="success" :headers="headers"
                        :loading="isDrawerTableLoading" :items="drawerTableData" item-key="classId" :dense="isMobile"
                        :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }" :items-per-page="20"
                        mobile-breakpoint="0" @item-selected="drawerItemSelected"
                        @toggle-select-all="drawerToggleSelectAll"
                        class="elevation-0 pt-0 mb-xs-4 flex-fill d-flex flex-column show-select">
                        <template v-slot:item.action="{ item }">
                            <v-btn :small="!isMobile" :xSmall="isMobile" dark class="success"
                                @click="buildRelation(item)">新增</v-btn>
                        </template>
                    </v-data-table>
                </v-row>
            </v-container>
        </v-navigation-drawer>
    </v-container>

</jh-layout>
{% endblock %}

{% block vue_body %}
{% include 'layout/jhLayout.html' %}
{% include 'common/resetTableMaxHeight.html' %}
<script type="module">

    new Vue({
        el: '#app',
        template: '#app-template',
        vuetify: new Vuetify(),
        data: () => ({
            studentId: null,
            title: null,

            searchInput: null,
            isTableLoading: true,
            isDrawerTableLoading: true,
            isEditDrawerPermanent: false,
            isEditDrawerShow: false,
            headers: [
                 
                { text: '班级ID', value: 'classId', width: 120 }, 
                { text: '门派ID', value: 'menPaiId', width: 120 }, 
                { text: '门派名', value: 'menPaiName', width: 120 }, 
                { text: '备注', value: 'remarks', width: 120 }, 
                { text: '班级状态', value: 'classStatus', width: 120 }, 
                { text: "操作者", value: "operationByUser", width: 120 },
                { text: "操作时间", value: "operationAt", width: 250 },
                { text: '操作', value: 'action', align: 'center', sortable: false, width: 200, class: 'fixed', cellClass: 'fixed' },
            ],
            drawerTableDataFromBackend: [],
            tableDataFromBackend: [],
            tableButtonList: [
                { text: '删除', buttonType: 'delete', color: 'error', },
            ],
            drawerItemSelectedClass: [],
            currentClickButton: { title: '新增', action: 'add' },
        }),

        computed: {
            isMobile() {
                return window.innerWidth < 600;
            },
            // 表格内容，即当前学生下的班级
            tableData() {
                return this.tableDataFromBackend;
            },
            // 弹出抽屉的内容，即：所有班级 - 当前学生下的班级
            drawerTableData() {
                if (_.isEmpty(this.drawerTableDataFromBackend)) {
                    return [];
                }
                return _.differenceBy(this.drawerTableDataFromBackend, this.tableData, 'classId');
            },
        },
        watch: {},
        async created() {
            const urlParams = new URLSearchParams(location.search);
            const studentId = urlParams.get('studentId');
            const title = urlParams.get('title');
            if (studentId && title) {
                this.studentId = studentId;
                this.title = title;
            } else {
                setTimeout(() => {
                    window.vtoast.fail('请从"学生列表"点击"班级"进入');
                }, 1000);
                return;
            }
            this.getTableData();
            await this.getDrawerTableData();
        },
        mounted() {
        },
        methods: {
            // 获取当前学生下的数据
            async getTableData() {
                this.isTableLoading = true;
                const result = await window.jianghuAxios({
                    data: {
                        appData: {
                            pageId: 'classManagementOfOneStudent',
                            actionId: 'selectCurrentList',
                            where: { studentId: this.studentId },
                            orderBy: [{ column: 'operationAt', order: 'desc' }]
                        }
                    }
                });
                this.tableDataFromBackend = result.data.appData.rows;
                this.isTableLoading = false;
            },
            // 获取所有班级的数据
            async getDrawerTableData() {
                this.isDrawerTableLoading = true;
                const result = await window.jianghuAxios({
                    data: {
                        appData: {
                            pageId: 'classManagementOfOneStudent',
                            actionId: 'selectAllList',
                            orderBy: [{ column: 'operationAt', order: 'desc' }]
                        }
                    }
                });
                this.drawerTableDataFromBackend = result.data.appData.rows;
                this.isDrawerTableLoading = false;
            },
            async addSelected() {
                this.isEditDrawerPermanent = true;
                if (await window.confirmDialog({ title: '确定将班级分配给此学生' })) {
                    this.isEditDrawerPermanent = false;
                    for (let i = 0; i < this.drawerItemSelectedClass.length; i++) {
                        window.vtoast.loading(`正在新增 第${i + 1}个`);
                        const { classId } = this.drawerItemSelectedClass[i];
                        await this.buildRelationImpl(classId);
                    }
                    window.vtoast.success("批量新增成功");
                    await this.getTableData();
                    this.drawerItemSelectedClass = [];
                }
            },
            async buildRelation({ classId }) {
                this.isEditDrawerPermanent = true;
                if (await window.confirmDialog({ title: '确定将班级分配给此学生' })) {
                    this.isEditDrawerPermanent = false;
                    window.vtoast.loading("正在新增");
                    await this.buildRelationImpl(classId);
                    window.vtoast.success("新增成功");
                    await this.getTableData();
                }
            },
            async buildRelationImpl(classId) {
                await window.jianghuAxios({
                    data: {
                        appData: {
                            pageId: 'classManagementOfOneStudent',
                            actionId: 'jhInsertItem',
                            actionData: { studentId: this.studentId, classId }
                        }
                    }
                });
            },
            async deleteItem({ id }) {
                if (await window.confirmDialog({ title: '确认将班级从学生删除？' })) {
                    window.vtoast.loading("删除中");
                    await window.jianghuAxios({
                        data: {
                            appData: {
                                pageId: 'classManagementOfOneStudent',
                                actionId: 'jhDeleteItem',
                                where: { id: id }
                            }
                        }
                    });
                    window.vtoast.success("删除成功");
                    await this.getTableData();
                }
            },
            drawerItemSelected({ item, value }) {
                console.log(item, value);
                if (value) {
                    this.drawerItemSelectedClass.push(item);
                } else {
                    this.drawerItemSelectedClass = _.filter(this.drawerItemSelectedClass, ['classId', item.classId]);
                }
            },
            drawerToggleSelectAll({ items, value }) {
                console.log(items, value);
                if (value) {
                    this.drawerItemSelectedClass = items;
                } else {
                    this.drawerItemSelectedClass = [];
                }
            },
            dayjs: dayjs,
        }
    })
</script>
{% endblock %}